<% if current_user %>
	<%- model_class = Ticket -%>
	<div class="page-header">
	  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
	</div>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th><%= model_class.human_attribute_name(:id) %></th>
	      <th><%= model_class.human_attribute_name(:title) %></th>
	      <th><%= model_class.human_attribute_name(:content) %></th>
	      <th><%= model_class.human_attribute_name(:department) %></th>
	      <th><%= model_class.human_attribute_name(:status) %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @tickets.each do |ticket| %>
	      <tr>
		<td><%= link_to ticket.id, ticket_path(ticket) %></td>
		<td><%= ticket.title %></td>
		<td><%= ticket.content %></td>
		<td><%= ticket.department %></td>
		<td><%= ticket.status %></td>
		<td><%= link_to 'Assign', {:action => 'assign', :id => ticket.id} %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<%= link_to t('.new', :default => t("helpers.links.new")),
		    new_ticket_path,
		    :class => 'btn btn-primary' %>
<% else %>
	<h2> You not a support </h2>
<% end %>
