<%- model_class = Ticket -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @ticket.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @ticket.content %></dd>
  <dt><strong><%= model_class.human_attribute_name(:department) %>:</strong></dt>
  <dd><%= @ticket.department %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @ticket.status %></dd>
</dl>

	  <% if current_user%>
		<dt><strong>Assigned to:</strong></dt>
		<%= @ticket.user_id ? @ticket.user.name : 'None'%>
	<div class="form-actions">
	  <%= link_to t('.back', :default => t("helpers.links.back")),
		      tickets_path, :class => 'btn'  %>
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
		      edit_ticket_path(@ticket), :class => 'btn' %>

	</div>
  <% end %>

<div id = "comments">
		<h3>Coments:</h3>
	<%= render @comments %>
</div>

<%= form_tag create_comment_ticket_path(@ticket), remote: true do%>
	<dt><strong>Add comment:</strong></dt>
	<textarea id = "comment_content" name ="comment[content]" type="text" rows="3"></textarea>
	<%= submit_tag 'Comment', action: :create_comment %>
<% end %>
